@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    --bg-color: #649695;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

header {
    width: 100vw;
}


.search {
    width: 300px;
    height: 50px;
    position: relative;
}

.search input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    padding: 0 15px;
    border-radius: 60px;

}

.search i {
    position: absolute;
    left: 87%;
    top: 30%;
    font-size: 22px;
}


.log-sign-btn>button,
.explore-btn>a,
.next-btn>a,
.confirm-btn>a,
.top-pick-btn>button,
.see-more-btn>button {
    background-color: var(--bg-color);
    border-radius: 25px;
    color: white;
    padding: 10px 22px;
    width: 120px;
    font-size: 1.3rem;
    border: none;

    align-items: center;
    justify-content: center;
    display: flex;
}


.main-container {
    background-color: #eaeaec;
    width: 100%;
    height: 100vh;
    border-radius: 40px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.head-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.head-container img {
    width: 85%;
    height: 55%;
    border-radius: 50px;

}

.head-name h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 41px;
    font-size: 35px;
    font-weight: 500;
}

.head-name h3 {
    margin-top: 24px;
    font-size: 22px;
 
}

.head-buttons {
    margin-top: 40px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-buttons .log-sign-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;

}

.head-buttons .explore-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------search-location------------ */

.triangle {
    background-color: #649695;
    transform: rotate(-31deg) skewX(25deg) scale(1, 0.44);
    height: 830px;
    width: 410px;
    border-radius: 24px;
    margin-top: -333px;
    position: relative;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    width: 70%;
}

.text h1 {
    font-size: 30px;
    color: white;

}

.sec-1-info {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;



}

/* ----------------search-gardens------------------ */

.angle {
    transform: rotate(-48deg);
    background-color: var(--bg-color);
    height: 459px;
    width: 410px;
    border-radius: 24px;
    margin-top: -265px;
    position: absolute;
    margin-right: -431px;
}

.garden-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    height: 38rem;
}


.box {
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 80%;

}
.bottom{
    margin-top: 90px

}

.img-container .card .img {
    width: 7rem;
    height: 6rem;
}


.img-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.img-container .card .img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.img-container .card span {
    font-size: 1rem;
}

.garden-btn {
    /* margin-top: 85px; */
    width: 100%;
    display: flex;

}

.garden-btn>button {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 10px;
}


.garden-btn button span {
    margin-top: 5px;

}

/* --------------------Venue--------------- */
.venue-search {
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 14%;

}

.category button,
.category a {
    width: 80%;
    background-color: var(--bg-color);
    border-radius: 10px;
    color: white;
    padding: 18px 5px;
    font-size: 1.1rem;
    border: none;
    display: flex;


}

/* ---------------overview------------- */
.sec-overview {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.shape {
    width: 100%;
    height: 16%;
    background-color: var(--bg-color);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shape h3 {
    font-size: 2rem;
    color: white;
}

.overview-img {
    width: 80%;
    height: 20%;
}

.overview-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.book-date {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.choose {
    display: flex;
    flex-direction: column;
}

.choose span {
    font-size: 1.2rem;
}

.choose button {
    font-size: 1.2rem;
    background-color: #bfc2c2;
    border: none;
    padding: 10px 2px;
}

.overview-option {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 26%;
    width: 80%;
    
}

.overview-option button,
.overview-option a {
    width: 100%;
    font-size: 1.2rem;
    background-color: #bfc2c2;
    border: none;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.overview-option button i,
.overview-option a i {
    font-size: 20px;

}




/* ------------------booking-date --------------- */

.calender-shape {
    background-color: var(--bg-color);
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender-shape h1 {
    font-size: 2.2rem;
    color: white;

}

.number {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 8px;
    align-items: center;
    padding: 0 10px;
    height: 4rem;

}

.number h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

.number input {
    border: 1px solid black;
    height: 2.3rem;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 100;
    padding: 0 10px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.calender {
    margin-top: 12px;
    position: relative;
    height: 47%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;



}

.calender .days {
    display: flex;
    flex-wrap: wrap;
}

.calender .day,
.calender .calender-number {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


.calender .date {
    width: 100%;
    padding: 20px;
}

.calender h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;

}

.event-con {
    display: flex;
    justify-content: start;
    width: 80%;
}

.event {
    padding: 6px 30px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;

}

.event-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.event-time span {
    background-color: rgb(198, 208, 211);
    padding: 0px 29px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;

}

.confirm-btn {
    width: 80%;
    margin: 15px 0;

}

.confirm-btn a {
    width: 100%;
    border-radius: 10px;
    padding: 12px 120px;
}


/* ----------------Prices-------- */


.price-head {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-head h1 {
    font-size:2.5rem;

}

.top-pick-btn {
    width: 80%;

}

.top-pick-btn button {
    display: flex;
    width: 9rem;
    font-size: 1.4rem;
}

.price-sub-head {
    width: 100%;
    margin: 30px 0;
}

.price-sub-head h1 {
    font-size: 1.8rem;
    margin-left: 18px;

}

.price-detail-box {
    background-color: rgb(158, 170, 161);
    width: 90%;
    height: 17%;
    display: flex;
    flex-direction: column;
    color: black;

}

.price-detail-box .rate {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.price-detail-box .price-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.price-detail-box .price-text span {
    font-size: 1.2rem;
    margin: 0 10px;
}

.see-more-btn {
    width: 90%;
    margin: 30px 0;

}

.see-more-btn button {
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
}

/* ----------------payment--------- */
.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.payment-box {
    height: 10%;
    width: 80%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;

}


.payment-text {

    height: 10%;
    width: 80%;
}

.payment-text h3 {
    margin: 15px 0;
}



.payment-text h3 {
    font-size: 1.3rem;
}

.payment-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    width: 85%;
}

.payment-button button {
    border: 1px solid purple;
    padding: 10px 4px;
    font-size: 1.4rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

.payment-button button img {
    width: 20%;
}



/* --------------Review---------- */
.review-shape {
    background-color: #649695;
    transform: rotate(-31deg) skewX(25deg) scale(1, 0.44);
    height: 830px;
    width: 410px;
    border-radius: 24px;
    margin-top: -333px;
    position: relative;

}

.review-text {
    display: flex;
    align-items: center;
    width: 40%;
}

.review-text h1 {
    position: absolute;
    top: 80px;
    width: 100%;
    color: white;
    font-size: 50px;

}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    margin-bottom: 20px;

}

.content h3 {
    font-size: 23px;
    color: black;
    margin: 10px 0;
}

.comment-box {
    width: 88%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.comment-box input {
    width: 100%;
    font-size: 25px;
    border: 1px solid #000000;
    padding: 10px 12px;


}

.comment-box button {
    font-size: 28px;
    background-color: var(--bg-color);
    border: none;
    position: absolute;
    left: 263px;
    padding: 3px 16px;
    border-radius: 10px;
    color: white;
    margin-left: -30px;


}

/* ----------------admin------------- */
.book-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 1.2rem;
}
.book-notification i{
    margin-right: 12px;
    font-size: 2rem;

}

.booking-box {
    height: 9%;
    width: 90%;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-box h3 {
    color: #fff;
    font-size: 1.5rem;

}


.details {
    height: 60%;
    width: 90%;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    justify-content: center;
    margin-top: 50px;
}

.details span {
    font-size: 1.4rem;
    color: #fff;
    margin: 5px 0;

}

